
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


  footer {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(4, 44, 7));
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }

  footer p {
    margin: 0;
  }